#index-header {
  background: linear-gradient(to right, #f4b100 0 40%, #001f60 40% 100%);
}

#index-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #f4b100 0 40%, #001f60 40% 100%);

  & .index-content h1 {
    font-size: 94px;
    color: #E6E6E6;
  }

  & .index-content p {
    font-size: 1rem;
    color: #E6E6E6;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3.75rem;
    right: 0;
    bottom: 0;
    left: 10%;
    background-image: url(../assets/img/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
}