.footer {
    background-color: #333; 
    color: #ccc;           
    padding: 30px 0;
    margin-top: 60px;     
}

.footer .container {
    margin-left: 18px;
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    flex-wrap: wrap; 
    gap: 20px;                     
}

.footer-text p {
    margin: 5px 0;
    font-size: 18px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.redes-sociais a {
    display: inline-block;
    padding: 12px; 
}

.redes-sociais img {
    width: 30px; 
    height: 30px; 
    transition: transform 0.3s ease; 
}

