* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0D2847;
  --secondary-color: #F8F8F8;
  --accent-color: #3B82F6;
  --text-color: #333;
  --card-bg: #FFFFFF;
  --body-bg: #EFEFEF;
  --font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  font-family: var(--font-family);
}

a {
        text-decoration: none;
    }